ETAPI/Service References/com.shengpay.cardpay.refund/RefundAPIExporterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.sdo.com/mas/api/refund/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RefundAPIExporterService" targetNamespace="http://www.sdo.com/mas/api/refund/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.sdo.com/mas/api/refund/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="refundRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="extension" type="tns:extension" />
          <xs:element minOccurs="0" name="header" type="tns:header" />
          <xs:element minOccurs="0" name="memo" type="xs:string" />
          <xs:element minOccurs="0" name="merchantNo" type="xs:string" />
          <xs:element minOccurs="0" name="notifyURL" type="xs:string" />
          <xs:element minOccurs="0" name="originalOrderNo" type="xs:string" />
          <xs:element minOccurs="0" name="refundAmount" type="xs:string" />
          <xs:element minOccurs="0" name="refundOrderNo" type="xs:string" />
          <xs:element minOccurs="0" name="refundRoute" type="xs:string" />
          <xs:element minOccurs="0" name="refundType" type="xs:string" />
          <xs:element minOccurs="0" name="signature" type="tns:signature" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="extension">
        <xs:sequence>
          <xs:element minOccurs="0" name="ext1" type="xs:string" />
          <xs:element minOccurs="0" name="ext2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="header">
        <xs:sequence>
          <xs:element minOccurs="0" name="charset" type="xs:string" />
          <xs:element minOccurs="0" name="sendTime" type="xs:string" />
          <xs:element minOccurs="0" name="sender" type="tns:sender" />
          <xs:element minOccurs="0" name="service" type="tns:service" />
          <xs:element minOccurs="0" name="traceNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sender">
        <xs:sequence>
          <xs:element minOccurs="0" name="senderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="service">
        <xs:sequence>
          <xs:element minOccurs="0" name="serviceCode" type="xs:string" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="signature">
        <xs:sequence>
          <xs:element minOccurs="0" name="signMsg" type="xs:string" />
          <xs:element minOccurs="0" name="signType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="refundResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="extension" type="tns:extension" />
          <xs:element minOccurs="0" name="header" type="tns:header" />
          <xs:element minOccurs="0" name="originalOrderNo" type="xs:string" />
          <xs:element minOccurs="0" name="refundAmount" type="xs:string" />
          <xs:element minOccurs="0" name="refundOrderNo" type="xs:string" />
          <xs:element minOccurs="0" name="refundTransNo" type="xs:string" />
          <xs:element minOccurs="0" name="returnInfo" type="tns:returnInfo" />
          <xs:element minOccurs="0" name="signature" type="tns:signature" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="returnInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="errorMsg" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="MasAPIException" type="tns:MasAPIException" />
      <xs:complexType name="MasAPIException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="processRefund" type="tns:processRefund" />
      <xs:complexType name="processRefund">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:refundRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="processRefundResponse" type="tns:processRefundResponse" />
      <xs:complexType name="processRefundResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:refundResponse" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="processRefund">
    <wsdl:part name="parameters" element="tns:processRefund" />
  </wsdl:message>
  <wsdl:message name="processRefundResponse">
    <wsdl:part name="parameters" element="tns:processRefundResponse" />
  </wsdl:message>
  <wsdl:message name="MasAPIException">
    <wsdl:part name="MasAPIException" element="tns:MasAPIException" />
  </wsdl:message>
  <wsdl:portType name="RefundAPI">
    <wsdl:operation name="processRefund">
      <wsdl:input name="processRefund" message="tns:processRefund" />
      <wsdl:output name="processRefundResponse" message="tns:processRefundResponse" />
      <wsdl:fault name="MasAPIException" message="tns:MasAPIException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RefundAPIExporterServiceSoapBinding" type="tns:RefundAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processRefund">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="processRefund">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processRefundResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MasAPIException">
        <soap:fault use="literal" name="MasAPIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RefundAPIExporterService">
    <wsdl:port name="RefundAPIExporterPort" binding="tns:RefundAPIExporterServiceSoapBinding">
      <soap:address location="http://cardpay.shengpay.com/api-acquire-channel/services/refundService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>